* {
    margin: 0%;

}


.start {
    background-color: #431ca3;
    height: 7vh;
    width: 100vw;
    padding: 0.1%;
}

.one {
    margin-top: 0.2%;
    font-size: 15px;
}

.two {
    font-size: 16px;
    margin-top: 0.8%;
    color: white;
}

.navbar {
    background-color: white;
    height: -3;

}

.three {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
    font-weight: normal;
    align-items: center;
    background-color: #fff;
    border: 2px solid white;
    box-shadow: 0 2px 4px rgba(6, 17, 118, .08), 0 4px 12px rgba(6, 17, 118, .08);
    padding-bottom: 0.7%;
    padding-top: 0.7%;

}

.three input {
    padding: 1%;
    width: 550px;
    border-radius: 32px;
    border: 1px solid grey;

}

.three button {
    /* padding: 0.8% 1.3% 0.8% 1.3%; */

    font-weight: bold;
}

.login {
    color: rgb(35, 4, 123);
    background-color: white;
    border: 1px solid white;
    border-color: rgb(35, 4, 123);
    border-radius: 5px;
    padding: 0.8% 1.3% 0.8% 1.3%;

}

.sign {
    background-color: #6d28d2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.8% 1.3% 0.8% 1.3%;

}

.globe {
    padding: 0.9% 0.4% 0.7% 0.5%;
    background-color: white;
    border: 1px solid #6d28d2;
    border-radius: 5px;

}

.three p {
    font-size: 14px;
    font-style: normal;

}

.part1 {
    margin-left: 6.5%;


}

.sec {
    position: relative;

}
@media screen and (max-width:992px) {
    .sec{
        display: none;
    }
}
@media screen and (min-width:993px) {
    .secc{
        display: none;
    }
}
.text {

    justify-content: right;
    position: absolute;
    top: 60px;
    left: 160px;
    border: 3px;
    border: 2px solid #fff;
    background-color: #fff;
    padding: 1.5%;
    width: 25vw;
    border-radius: 3px;


}

.text h1 {
    font-size: 35px;
    margin: 2% 0%;
}

.text p {
    margin: 2% 0%;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.plan {
    border: none;
    padding: 4%;
    margin-top: 2%;
    border-radius: 3px;
    background-color: #6d28d2;
    color: white;
    font-weight: bold;

}

.part12 {
    margin-left: 8%;
    margin-top: 2%;
}

.part12 h1 {
    font-size: 35px;
}

.part12 p {
    padding: 1%;
    padding: 0.5% 0% 0% 0%;
    color: grey;
    font-weight: bold;
    font-size: 20px;
}

.section {
    position: relative;

}

.section input {
    width: 40vw;
    font-size: 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 2.5%;
    border-color: grey;
}

.section input:hover {
    background-color: #eeeffc;
    ;
}

.section i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #999;
    font-size: 12px;
    pointer-events: none;
}

.career-parent {
    padding: 5%;
}

.career-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: -3%;
    margin-bottom: 10%;


}

.career-card-item {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;

}

.career-card-item:hover {
    background-color: whitesmoke;
}

.career-card-item img {
    width: 100%;
    border-radius: 10px;
}

.acce1 {
    padding: 0.7%;
    background-color: #fff;
    color: #6d28d2;
    border-color: #6d28d2;
    margin: -40% 0% 0% 5%;
    font-weight: bold;
    border-radius: 3px;

}

.acce {
    margin-top: -12%;
}

.skills {
    margin-top: 2%;
    margin-left: 5%;
}

.skills h1 {
    font-size: 35px;
}

.skills p {
    padding: 1%;
    padding: 0.7% 0% 0% 0%;
    color: grey;
    /* font-weight: bold; */
    font-size: 20px;
}

.seven {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    margin-bottom:1%;
    margin-left:0.5%;
    padding-left: 5%;
    gap: 3%;
    color: gray;
    font-weight: bold;
    font-size:15px;
    font-family:sans-serif,Arial, Helvetica, sans-serif;
}

.seven:hover {
    color: black;
}

.chatgpt-child {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 3.5%;
    gap: 3%;
    padding: 1%;
}

.chatgpt-child button {

    border-radius: 35px;
    border: none;
    padding:16px 24px 8px;
    padding:1.3%;
    
}

.gpt {
    background-color: #33364a;
    color: white;
}

.gpt1 {
    background-color: #d1d2e05b;
}

.section21 {
    border:0.1px solid grey;
    border-radius: 10px;
    background-color: #f8f4f46e;
    border-bottom:30%;
    margin:10px;
}
.margin{
    margin-bottom: 20px;
}

.AI {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 1%;
    margin-bottom: 10%;
    margin-left: 5%;

}

.section21 img {
    width:100%;
    border-radius:6px 6px 0px 0px;
    
}

.ten10 {
    border: 1px solid RGBA(0, 0, 0, 0.1);
    background-color: #8f8f930b;
}

.course1 {
    padding: 0.7%;
    background-color: #fff;
    color: #6d28d2;
    border-color: #6d28d2;
    margin: -40% 0% 0% 5%;
    font-weight: bold;
    border-radius: 3px;

}

.course {
    margin-top: -6%;
}

.part51 {
    color: grey;
    margin-left: 10%;
    font-weight: bold;

}

.part52 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1%;
    margin-left: 2%;
}

.parent522 {
    border: 1px solid grey;
}

.parent52 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 1%;
    margin-bottom: 5%;
    margin-left: 5%;

}

.parent521 img {
    width: 95%;
    
}

.career-card-item span {
    border: 1px solid grey;
    padding: 0.6%;
    border-radius: 5px;
    color: grey;
}

.vamsi {
    margin-top: 10%;

}

.part5 .part51 {
    margin-top: -2%;

}

.vamsi .parent52 {
    margin-top: 2%;
}

.boy {
    margin-left: 5%;
    margin-top: 8%;
    font-size: 25px;
}
.fa-solid {
  font-size:9px;
  margin-right:6px;
  margin-left:3px;  
}
.stage{
    margin-top: 12px;
    border-color:#f8f4ff;
}
.career-parent{
    padding:5%;
}


.contain {
    padding:7%;
    background-color: #8f8f931c;
    display: flex;
    flex-direction: row;
}
.contain h1 {
    margin-bottom: 2%;
    font-size: 35px;
}
.left {
    border: 2px solid #a435f0;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 4%;
    width: 80%;
    background-color: #fff;
}
.left:hover{
    background-color: rgb(230, 223, 223);
}
.blocks{
    padding-left: 3%;
    align-items: center;
}
.blocks button{
    margin-top: 3%;
    background-color: white;
    border: none;
    font-weight: bold;
    color: #a435f0;
    padding: 2%;
}
.blocks button:hover{
    background-color: #d0cbd4;
}
.contain2 {
margin-bottom: 3%;
    border-radius: 10px;
    border-left: 3px solid transparent;
    align-items: center;
}
.left h3 {
    margin-bottom: 8px;
    font-size: 18px;
}
.left p {
    font-size: 16px;
    color: #333;
}
.right{
        align-items: center;
}
.right img{
    margin-left:10%;
    margin-top: 5%;
}
.no{
    color:#2a2b3f;
    background-color:rgb(141, 243, 237);
    border: none;
    border-radius: 3px;
    padding:1.5%;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:7.1%;
    margin-top: 3%;
}
.yes{
    background-color: #6d28d2;
    margin-left:7.1%;
    margin-top: 3%;
    border-radius: 5px;
    border: none;
    color: white;
    padding:1.5%;
    padding-right: 3%;
}
.achieve{
    display: flex;
    flex-direction: row;
    gap:1.5%;
}
.stack-parent1{
    border: 1px solid grey;
}
.stack-parent2{
    margin-left: 20%;
    border:1px solid grey;
}
.halo{
    background-color: #f8f4ff;
    padding:4%;
}
.halo div h1{
    margin-left:9%;
    font-size:30px;
}
.myimg{
    margin-left: 20%;
    
}
.myimg img{
    margin-top:-30%;
    width: 70vw;
}
.part61{
    margin-left: 6%;
    margin-top: 10%;
    font-size:30px;
}
.part62{
    margin-top:-4.5%;
}
.out{
    margin-top:30px;
}
.part61 button{
    margin-top: 20px;
    padding: 0.7% 1% 0.7% 0.7%;
    border-color: #6d28d2;
    border-radius: 5px;
    background-color: white;
    color: #6d28d2;
}
.empty{
    background-color: #6d28d2;
    color: #6d28d2;
    height: 1.5%;
    border-radius: 10px 10px 0px 0px;
}
.sec-1 {
    padding:2%;
    margin-top: 1%;
    margin-bottom: 2%;
}

.heading h1 {
    margin-bottom: 8px;
    font-size: 35px;
}

.heading p {
    font-size: 20px;
    color: grey;
    margin-bottom: 2%;
}

.con {
    border: 1px solid lightgrey;
    border-radius: 10px;
    width: 29vw;
    height: 88vh;
    margin-top: 2%;
}

.fir {
    background-color: #f8f4ff;
    padding: 5%;
}

.user span i {
    padding-top: 3%;
    font-size: 12px;
}
.user span{
        color: grey;
}
.cost{
    padding: 6%;
    display: flex;
    flex-direction: column;
}
.con button{
    margin: 4% 0% 7% 0%;
    width: 100%;
    background-color: #6d28d2;
    color: white;
    border: none;
    padding: 4%;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
}
.points p{
    padding: 1%;
    color: rgb(61, 59, 59);
}
.points p i{
    font-size: 12px;
}
.labels{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.partty{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btn1{
    padding:5%;
    width: 110%;
    border-radius: 4px;
    border-color: #6d28d2;
    background-color: white;
    color: #6d28d2;margin-top: 10%;
    margin-bottom: 10%;
}
.fa-solid fa-cart-shopping{
    margin-left:80px;
}
.bold{
    font-size:15px;
    font-family: Arial, Helvetica, sans-serif;
}
.grey{
    color: grey;
    font-size: 17px;
    margin-left: 7%;
    margin-bottom: 1%;
    
}
.bold{
    margin-top: 2%;
    margin-left:7%;
}
.margin1{
    margin-left:7%;
    margin-top:1%;
}
.margin2{
    margin-left: 7%;
    margin-top: 2%;
}
.noo{
    margin-right: 1%;
    margin-top: 3.5%;
    color:#2a2b3f;
    background-color:rgb(141, 243, 237);
    border: none;
    border-radius: 3px;
    padding:1.5%;
    font-family: Arial, Helvetica, sans-serif;
}
.yess{
    margin-right: 1%;
    margin-top: 3.5%;
    background-color: #6d28d2;
    border-radius: 5px;
    border: none;
    color: white;
    padding:1.5%;
    padding-right: 3%;
}
.sub{
    margin-top:-4%;
}
.profile{
    border-radius: 20px;
}
.up{
    margin-left: 14%;
    margin-top:-11%;
}
.upp{
    margin-left:23%;
    margin-top: -20%;  
}
.uppp{
    margin-left:17%;
    margin-top: -15%;
}
/* footer */
.footer{
    background-color: #2A2B3F;
    color: white;
}
.footer12{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1.5%;
}
.footer2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%;
}
.footer4{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.footer41{
    margin-top: 2%;
}
.footer312{
    margin-right: 5%;
}
.footer312 h4{
    margin-bottom:8%;

}

.footer312 p{
    margin-bottom:5%;

}

.footer51{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
}
.footer40{
    background-color: #19181b;
    color: white;
}
.footer21 h4{
    margin-bottom:8%;

}
.footer21 p{
    margin-bottom:5%;

}
.footer212 h4{
    margin-bottom: 6%;
}
.footer212 p{
    margin-bottom: 3%;
}
.footer31 h4{
    margin-bottom:8%;

}

.footer31 p{
    margin-bottom:5%;

}

.footer41 h4{
    margin-bottom:8%;

}
.footer41 p{
    margin-bottom:5%;

}
.footer41{
   margin-bottom: 3%;  
}
.footer51 img{
    margin-left: 6%;
}
.footer40{
    padding-bottom: 1%;
}

.h{
    margin-left:7%;
    margin-right:7%;
}
.h1{
    margin-left:7%;
    margin-bottom:1%;
}
.chat{
    margin-top: 10%;
}
.chat1{
    margin-top: 20%;
}
.chat2{
    margin-top: 16%;
}
.chat3{
    margin-top: 8%;
}
.py{
    margin-top:11%;
}
.py1{
    margin-top: 5%;
}
.py2{
    margin-top: 7%;
}
.digits{
    margin-top: 5%;
}
.digits1{
    margin-top: 2%;
}
.pat7{
    margin-left:45%;
    margin-top:-29%;
    width:50%;
}
.part721{
    margin-left:7%;
    margin-top:7%;
}
.part721 p{
    margin-top: 3%;
}
.hrr{
    margin-right:68%;
}
.bt{
    padding:0.7% 1.5% 0.7% 1%;
    border-radius: 5px;
    color: white;
    background-color: #6c11f3;
    border: none;
}
.div{
    margin-left:4.3%;
    margin-top:2%;
    margin-bottom: 3%;

}
.cookie{
    margin-right: 20%;
}
.english{
    margin-right: 5%;
}
.part7{
    border:1px solid grey;
    padding-top:3%;
    background-color: rgba(240, 235, 235, 0.575);
    border: none;
}
.feed{
    background-color: #f8f4ff;
    padding: 1% 1% 3% 1%;
}
.head2 h1{
    padding: 3% 2% 2% 1%;
    font-size: 37px;
}
.feed1{
    width: 20vw;
    height: 36.5vh;
    border: 1px solid lightgrey;
    border-radius: 6px;
    padding: 0% 1% 1% 2%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.feed1 p{
    padding: 5% 0% 10% 0%;
    font-size: 14px;
}
.icon2 span img{
margin-top: 15%;
}

.feed1 a{
    margin-top: 16%;
    text-decoration: none;
    font-size: 14px;
}
.order{
        display: flex;
    flex-direction: row;
    padding: 0% 1% 0% 1%;
    justify-content: space-between;
}
.icon2 span img{
    border-radius: 30px;
    margin-top: -5%;
}
.icon21{
    margin-top:-15%;
    
}
.icon22{
    margin-top:-16%;
    margin-left:22%;
}
.over{
    color: #6d28d2;
}
.feed1 .anchor{
    margin-top:18%;
}